RewriteEngine On
RewriteRule ^home/?$ index.php [NC]
RewriteRule ^about/?$ about.php [NC]
RewriteRule ^contact/?$ contact.php [NC]
RewriteRule ^projects/?$ portfolio.php [NC]
RewriteRule ^projects/(.*)/([0-9]+)$  ^portfolio-single-gallery.php?id=$1